:root {
  --n-background-brand-primary-DEFAULT: #18a15a;
  --n-background-brand-primary-hover: #17643d;
  --n-background-brand-primary-press: #155234;
  --n-background-brand-primary-disable: #ccf5e0;
  --n-background-brand-secondary-DEFAULT: #ccf5e0;
  --n-background-brand-secondary-hover: #99ebc0;
  --n-background-brand-secondary-press: #7fe6b0;
  --n-background-brand-secondary-disable: #ccf5e0;
  --n-background-brand-quaternary-DEFAULT: #17643d;
  --n-background-brand-quaternary-hover: #167b47;
  --n-background-brand-quaternary-press: #18a15a;
  --n-background-brand-quaternary-disable: #062d1a;
  --n-background-brand-tertiary-DEFAULT: #062d1a;
  --n-background-brand-tertiary-hover: #167b47;
  --n-background-brand-tertiary-press: #18a15a;
  --n-background-brand-tertiary-disable: #ccf5e0;
  --n-background-critical-primary-DEFAULT: #d82a39;
  --n-background-critical-primary-hover: #b61f2c;
  --n-background-critical-primary-press: #961e28;
  --n-background-critical-primary-disable: #fde3e5;
  --n-background-critical-secondary-DEFAULT: #fceeef;
  --n-background-critical-secondary-hover: #fdcbcf;
  --n-background-critical-secondary-press: #faa7ae;
  --n-background-critical-secondary-disable: #fceeef;
  --n-background-neutral-primary-DEFAULT: #fff;
  --n-background-neutral-primary-hover: #f3f3f3;
  --n-background-neutral-primary-press: #d8d8d8;
  --n-background-neutral-primary-disable: #fafafa;
  --n-background-neutral-secondary-DEFAULT: #f3f3f3;
  --n-background-neutral-secondary-hover: #e5e5e5;
  --n-background-neutral-secondary-press: #b2b2b2;
  --n-background-neutral-secondary-disable: #f3f3f3;
  --n-background-neutral-tertiary-DEFAULT: #d8d8d8;
  --n-background-neutral-tertiary-hover: #b2b2b2;
  --n-background-neutral-tertiary-press: #999999;
  --n-background-neutral-tertiary-disable: #f3f3f3;
  --n-background-neutral-quaternary-DEFAULT: #1e1d1d;
  --n-background-neutral-quaternary-hover: #191919;
  --n-background-neutral-quaternary-press: #0d0d0d;
  --n-background-neutral-quaternary-disable: #e5e5e5;
  --n-background-neutral-quinary-DEFAULT: #f3f3f3;
  --n-background-neutral-quinary-hover: #999999;
  --n-background-neutral-quinary-press: #8c8c8c;
  --n-background-neutral-quinary-disable: #f3f3f3;
  --n-background-warning-primary-DEFAULT: #b86205;
  --n-background-warning-primary-hover: #954b0b;
  --n-background-warning-primary-press: #7a3d0d;
  --n-background-warning-primary-disable: #fff9c6;
  --n-background-warning-secondary-DEFAULT: #fff9c6;
  --n-background-warning-secondary-hover: #fff9c6;
  --n-background-warning-secondary-press: #fff188;
  --n-background-warning-secondary-disable: #fffdeb;
  --n-background-warning-tertiary-DEFAULT: #ffd420;
  --n-background-warning-tertiary-hover: #b86205;
  --n-background-warning-tertiary-press: #954b0b;
  --n-background-warning-tertiary-disable: #fffdeb;
  --n-background-purple-primary-DEFAULT: #9218B3;
  --n-background-purple-primary-hover: #7A1692;
  --n-background-purple-primary-press: #661877;
  --n-background-purple-primary-disable: #F7E7FF;
  --n-background-purple-secondary-DEFAULT: #420250;
  --n-background-purple-secondary-hover: #F7E7FF;
  --n-background-purple-secondary-press: #F0CFFF;
  --n-background-purple-secondary-disable: #FCF4FF;
  --n-background-blue-primary-DEFAULT: #3594c2;
  --n-background-blue-primary-hover: #2577a4;
  --n-background-blue-primary-press: #1f5f85;
  --n-background-blue-primary-disable: #f3f8fc;
  --n-background-blue-secondary-DEFAULT: #f3f8fc;
  --n-background-blue-secondary-hover: #94cae5;
  --n-background-blue-secondary-press: #59add5;
  --n-background-blue-secondary-disable: #3594c2;
  --n-background-disable-bright: #b2b2b2;
  --n-background-disable-matt: #b2b2b2;
  --n-background-alpha-neutral-primary: #0d0d0d;
  --n-border-brand-primary-DEFAULT: #167b47;
  --n-border-brand-primary-hover: #17643d;
  --n-border-brand-primary-press: #155234;
  --n-border-brand-primary-disable: #e5faef;
  --n-border-brand-secondary-DEFAULT: #4cdc91;
  --n-border-brand-secondary-hover: #4cdc91;
  --n-border-brand-secondary-press: #24c371;
  --n-border-brand-secondary-disable: #e5faef;
  --n-border-neutral-primary-DEFAULT: #fafafa;
  --n-border-neutral-primary-hover: #e5e5e5;
  --n-border-neutral-primary-press: #b2b2b2;
  --n-border-neutral-primary-disable: #e5e5e5;
  --n-border-neutral-secondary-DEFAULT: #f3f3f3;
  --n-border-neutral-secondary-hover: #b2b2b2;
  --n-border-neutral-secondary-press: #999999;
  --n-border-neutral-secondary-disable: #999999;
  --n-border-neutral-tertiary-DEFAULT: #d8d8d8;
  --n-border-neutral-tertiary-hover: #a6a6a6;
  --n-border-neutral-tertiary-press: #8c8c8c;
  --n-border-neutral-tertiary-disable: #e5e5e5;
  --n-border-neutral-quaternary-DEFAULT: #a6a6a6;
  --n-border-neutral-quaternary-hover: #999999;
  --n-border-neutral-quaternary-press: #8c8c8c;
  --n-border-neutral-quaternary-disable: #e5e5e5;
  --n-border-critical-primary-DEFAULT: #d82a39;
  --n-border-critical-primary-hover: #b61f2c;
  --n-border-critical-primary-press: #961e28;
  --n-border-critical-primary-disable: #fdcbcf;
  --n-border-critical-secondary-DEFAULT: #fdcbcf;
  --n-border-critical-secondary-hover: #faa7ae;
  --n-border-critical-secondary-press: #f5747f;
  --n-border-critical-secondary-disable: #f5747f;
  --n-border-critical-tertiary-DEFAULT: #fde3e5;
  --n-border-critical-tertiary-hover: #fdcbcf;
  --n-border-critical-tertiary-press: #fdcbcf;
  --n-border-critical-tertiary-disable: #fceeef;
  --n-border-warning-primary-DEFAULT: #b86205;
  --n-border-warning-primary-hover: #954b0b;
  --n-border-warning-primary-press: #7a3d0d;
  --n-border-warning-primary-disable: #fff9c6;
  --n-border-warning-secondary-DEFAULT: #fffdeb;
  --n-border-warning-secondary-hover: #fff9c6;
  --n-border-warning-secondary-press: #fff188;
  --n-border-warning-secondary-disable: #fffdeb;
  --n-border-disable-bright: #b2b2b2;
  --n-border-disable-matt: #b2b2b2;
  --n-border-fixed-primary-DEFAULT: #fff;
  --n-border-fixed-primary-hover: #fafafa;
  --n-border-fixed-primary-press: #f3f3f3;
  --n-border-fixed-primary-disable: #b2b2b2;
  --n-border-fixed-secondary-DEFAULT: #a6a6a6;
  --n-border-fixed-secondary-hover: #b2b2b2;
  --n-border-fixed-secondary-press: #d8d8d8;
  --n-border-fixed-secondary-disable: #8c8c8c;
  --n-text-brand-primary-DEFAULT: #167b47;
  --n-text-brand-primary-hover: #17643d;
  --n-text-brand-primary-press: #155234;
  --n-text-brand-primary-disable: #99ebc0;
  --n-text-brand-secondary-DEFAULT: #4cdc91;
  --n-text-brand-secondary-hover: #18a15a;
  --n-text-brand-secondary-press: #ccf5e0;
  --n-text-brand-secondary-disable: #18a15a;
  --n-text-brand-quaternary-DEFAULT: #17643d;
  --n-text-brand-quaternary-hover: #167b47;
  --n-text-brand-quaternary-press: #24c371;
  --n-text-brand-quaternary-disable: #24c371;
  --n-text-critical-primary-DEFAULT: #ea3948;
  --n-text-critical-primary-hover: #961e28;
  --n-text-critical-primary-press: #7d1f27;
  --n-text-critical-primary-disable: #faa7ae;
  --n-text-critical-secondary-DEFAULT: #ea3948;
  --n-text-critical-secondary-hover: #d82a39;
  --n-text-critical-secondary-press: #b61f2c;
  --n-text-critical-secondary-disable: #faa7ae;
  --n-text-neutral-primary-DEFAULT: #1e1d1d;
  --n-text-neutral-primary-hover: #181818;
  --n-text-neutral-primary-press: #0d0d0d;
  --n-text-neutral-primary-disable: #d8d8d8;
  --n-text-neutral-secondary-DEFAULT: #595959;
  --n-text-neutral-secondary-hover: #4c4c4c;
  --n-text-neutral-secondary-press: #404040;
  --n-text-neutral-secondary-disable: #d8d8d8;
  --n-text-neutral-tertiary-DEFAULT: #8c8c8c;
  --n-text-neutral-tertiary-hover: #fafafa;
  --n-text-neutral-tertiary-press: #fafafa;
  --n-text-neutral-tertiary-disable: #b2b2b2;
  --n-text-neutral-quaternary-DEFAULT: #fff;
  --n-text-neutral-quaternary-hover: #fafafa;
  --n-text-neutral-quaternary-press: #fafafa;
  --n-text-neutral-quaternary-disable: #b2b2b2;
  --n-text-warning-primary-DEFAULT: #954b0b;
  --n-text-warning-primary-hover: #7a3d0d;
  --n-text-warning-primary-press: #462002;
  --n-text-warning-primary-disable: #fff9c6;
  --n-text-warning-secondary-DEFAULT: #fab60e;
  --n-text-warning-secondary-hover: #dd8902;
  --n-text-warning-secondary-press: #b86205;
  --n-text-warning-secondary-disable: #fff9c6;
  --n-text-purple-primary-DEFAULT: #9218B3;
  --n-text-purple-primary-hover: #7A1692;
  --n-text-purple-primary-press: #661877;
  --n-text-purple-primary-disable: #F7E7FF;
  --n-text-purple-secondary-DEFAULT: #F7E7FF;
  --n-text-purple-secondary-hover: #E6A9FE;
  --n-text-purple-secondary-press: #BF2AF2;
  --n-text-purple-secondary-disable: #FCF4FF;
  --n-text-blue-primary-DEFAULT: #3594c2;
  --n-text-blue-primary-hover: #2577a4;
  --n-text-blue-primary-press: #1f5f85;
  --n-text-blue-primary-disable: #f3f8fc;
  --n-text-blue-secondary-DEFAULT: #f3f8fc;
  --n-text-blue-secondary-hover: #94cae5;
  --n-text-blue-secondary-press: #59add5;
  --n-text-blue-secondary-disable: #3594c2;
  --n-text-disable-bright: #b2b2b2;
  --n-text-disable-matt: #fafafa;
  --n-text-fixed-primary-DEFAULT: #fff;
  --n-text-fixed-primary-hover: #fafafa;
  --n-text-fixed-primary-press: #f3f3f3;
  --n-text-fixed-primary-disable: #b2b2b2;
  --n-text-fixed-secondary-DEFAULT: #a6a6a6;
  --n-text-fixed-secondary-hover: #b2b2b2;
  --n-text-fixed-secondary-press: #d8d8d8;
  --n-text-fixed-secondary-disable: #8c8c8c;
  --n-box-shadow-mini: 0px 0px 3px rgba(0, 0, 0, 0.1);
  --n-box-shadow-small: 0px 0px 10px rgba(0, 0, 0, 0.04);
  --n-box-shadow-medium: 0px 0px 10px rgba(0, 0, 0, 0.06);
  --n-box-shadow-large: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
  --n-box-shadow-inset: inset 0px -2px 0px 0px rgb(229, 229, 229);
  --n-box-shadow-maxi: rgba(0, 0, 0, 0.4) 0px 0px 25px, rgba(0, 0, 0, 0.1) 0px 0px 10px;
  --n-ring-primary-DEFAULT: #fff;
  --n-ring-neutral-primary-DEFAULT: #f3f3f3;
  --n-ring-neutral-secondary-DEFAULT: #b2b2b2;
  --n-ring-neutral-tertiary-hover: #b2b2b2;
  --n-ring-brand-primary-hover: #17643d;
  --n-ring-brand-secondary-hover: #ccf5e0;
  --n-text-primary: #1e1d1d;
  --n-bg-primary: #fff;
  --n-bg-secondary: #f3f3f3;
  --n-bg-tertiary: #d8d8d8;
  --n-bg-brand: #18a15a;
  --n-border-primary: #d8d8d8;
  --n-border-brand: #167b47;
}
:root.dark, :root[data-theme="dark"] {
  --n-background-brand-primary-DEFAULT: #18a15a;
  --n-background-brand-primary-hover: #24c371;
  --n-background-brand-primary-press: #4cdc91;
  --n-background-brand-primary-disable: #062d1a;
  --n-background-brand-secondary-DEFAULT: #17643d;
  --n-background-brand-secondary-hover: #167b47;
  --n-background-brand-secondary-press: #17643d;
  --n-background-brand-secondary-disable: #062d1a;
  --n-background-brand-quaternary-DEFAULT: #155234;
  --n-background-brand-quaternary-hover: #17643d;
  --n-background-brand-quaternary-press: #167b47;
  --n-background-brand-quaternary-disable: #062d1a;
  --n-background-brand-tertiary-DEFAULT: #062d1a;
  --n-background-brand-tertiary-hover: #167b47;
  --n-background-brand-tertiary-press: #18a15a;
  --n-background-brand-tertiary-disable: #ccf5e0;
  --n-background-critical-primary-DEFAULT: #ea3948;
  --n-background-critical-primary-hover: #b61f2c;
  --n-background-critical-primary-press: #7d1f27;
  --n-background-critical-primary-disable: #7d1f27;
  --n-background-critical-secondary-DEFAULT: #440b10;
  --n-background-critical-secondary-hover: #961e28;
  --n-background-critical-secondary-press: #440b10;
  --n-background-critical-secondary-disable: #7d1f27;
  --n-background-neutral-primary-DEFAULT: #0d0d0d;
  --n-background-neutral-primary-hover: #404040;
  --n-background-neutral-primary-press: #4c4c4c;
  --n-background-neutral-primary-disable: #404040;
  --n-background-neutral-secondary-DEFAULT: #191919;
  --n-background-neutral-secondary-hover: #404040;
  --n-background-neutral-secondary-press: #4c4c4c;
  --n-background-neutral-secondary-disable: #191919;
  --n-background-neutral-tertiary-DEFAULT: #0d0d0d;
  --n-background-neutral-tertiary-hover: #1e1d1d;
  --n-background-neutral-tertiary-press: #404040;
  --n-background-neutral-tertiary-disable: #4c4c4c;
  --n-background-neutral-quaternary-DEFAULT: #404040;
  --n-background-neutral-quaternary-hover: #595959;
  --n-background-neutral-quaternary-press: #595959;
  --n-background-neutral-quaternary-disable: #404040;
  --n-background-neutral-quinary-DEFAULT: #404040;
  --n-background-neutral-quinary-hover: #595959;
  --n-background-neutral-quinary-press: #808080;
  --n-background-neutral-quinary-disable: #181818;
  --n-background-warning-primary-DEFAULT: #fab60e;
  --n-background-warning-primary-hover: #954b0b;
  --n-background-warning-primary-press: #7a3d0d;
  --n-background-warning-primary-disable: #462002;
  --n-background-warning-secondary-DEFAULT: #462002;
  --n-background-warning-secondary-hover: #954b0b;
  --n-background-warning-secondary-press: #fab60e;
  --n-background-warning-secondary-disable: #7a3d0d;
  --n-background-warning-tertiary-DEFAULT: #ffe449;
  --n-background-warning-tertiary-hover: #dd8902;
  --n-background-warning-tertiary-press: #b86205;
  --n-background-warning-tertiary-disable: #954b0b;
  --n-background-purple-primary-DEFAULT: #BF2AF2;
  --n-background-purple-primary-hover: #7A1692;
  --n-background-purple-primary-press: #661877;
  --n-background-purple-primary-disable: #420250;
  --n-background-purple-secondary-DEFAULT: #420250;
  --n-background-purple-secondary-hover: #7A1692;
  --n-background-purple-secondary-press: #BF2AF2;
  --n-background-purple-secondary-disable: #661877;
  --n-background-blue-primary-DEFAULT: #3594c2;
  --n-background-blue-primary-hover: #2577a4;
  --n-background-blue-primary-press: #1f5f85;
  --n-background-blue-primary-disable: #142c3d;
  --n-background-blue-secondary-DEFAULT: #142c3d;
  --n-background-blue-secondary-hover: #1e516e;
  --n-background-blue-secondary-press: #1f5f85;
  --n-background-blue-secondary-disable: #c6e1f1;
  --n-background-disable-bright: #4c4c4c;
  --n-background-disable-matt: #737373;
  --n-background-alpha-neutral-primary: #fafafa;
  --n-border-brand-primary-DEFAULT: #18a15a;
  --n-border-brand-primary-hover: #24c371;
  --n-border-brand-primary-press: #4cdc91;
  --n-border-brand-primary-disable: #155234;
  --n-border-brand-secondary-DEFAULT: #062d1a;
  --n-border-brand-secondary-hover: #17643d;
  --n-border-brand-secondary-press: #167b47;
  --n-border-brand-secondary-disable: #e5faef;
  --n-border-neutral-primary-DEFAULT: #191919;
  --n-border-neutral-primary-hover: #404040;
  --n-border-neutral-primary-press: #595959;
  --n-border-neutral-primary-disable: #252525;
  --n-border-neutral-secondary-DEFAULT: #1e1d1d;
  --n-border-neutral-secondary-hover: #4c4c4c;
  --n-border-neutral-secondary-press: #595959;
  --n-border-neutral-secondary-disable: #737373;
  --n-border-neutral-quaternary-DEFAULT: #737373;
  --n-border-neutral-quaternary-hover: #676767;
  --n-border-neutral-quaternary-press: #737373;
  --n-border-neutral-quaternary-disable: #404040;
  --n-border-neutral-tertiary-DEFAULT: #404040;
  --n-border-neutral-tertiary-hover: #595959;
  --n-border-neutral-tertiary-press: #737373;
  --n-border-neutral-tertiary-disable: #676767;
  --n-border-critical-primary-DEFAULT: #d82a39;
  --n-border-critical-primary-hover: #b61f2c;
  --n-border-critical-primary-press: #961e28;
  --n-border-critical-primary-disable: #7d1f27;
  --n-border-critical-secondary-DEFAULT: #fdcbcf;
  --n-border-critical-secondary-hover: #faa7ae;
  --n-border-critical-secondary-press: #f5747f;
  --n-border-critical-secondary-disable: #faa7ae;
  --n-border-critical-tertiary-DEFAULT: #440b10;
  --n-border-critical-tertiary-hover: #961e28;
  --n-border-critical-tertiary-press: #7d1f27;
  --n-border-critical-tertiary-disable: #440b10;
  --n-border-warning-primary-DEFAULT: #fab60e;
  --n-border-warning-primary-hover: #954b0b;
  --n-border-warning-primary-press: #7a3d0d;
  --n-border-warning-primary-disable: #462002;
  --n-border-warning-secondary-DEFAULT: #7a3d0d;
  --n-border-warning-secondary-hover: #954b0b;
  --n-border-warning-secondary-press: #dd8902;
  --n-border-warning-secondary-disable: #7a3d0d;
  --n-border-disable-bright: #595959;
  --n-border-disable-matt: #595959;
  --n-border-fixed-primary-DEFAULT: #fff;
  --n-border-fixed-primary-hover: #fafafa;
  --n-border-fixed-primary-press: #f3f3f3;
  --n-border-fixed-primary-disable: #b2b2b2;
  --n-border-fixed-secondary-DEFAULT: #a6a6a6;
  --n-border-fixed-secondary-hover: #b2b2b2;
  --n-border-fixed-secondary-press: #d8d8d8;
  --n-border-fixed-secondary-disable: #8c8c8c;
  --n-text-brand-primary-DEFAULT: #4cdc91;
  --n-text-brand-primary-hover: #7fe6b0;
  --n-text-brand-primary-press: #99ebc0;
  --n-text-brand-primary-disable: #167b47;
  --n-text-brand-secondary-DEFAULT: #e5faef;
  --n-text-brand-secondary-hover: #ccf5e0;
  --n-text-brand-secondary-press: #99ebc0;
  --n-text-brand-secondary-disable: #155234;
  --n-text-brand-quaternary-DEFAULT: #e5faef;
  --n-text-brand-quaternary-hover: #99ebc0;
  --n-text-brand-quaternary-press: #7fe6b0;
  --n-text-brand-quaternary-disable: #062d1a;
  --n-text-critical-primary-DEFAULT: #ea3948;
  --n-text-critical-primary-hover: #b61f2c;
  --n-text-critical-primary-press: #7d1f27;
  --n-text-critical-primary-disable: #7d1f27;
  --n-text-critical-secondary-DEFAULT: #fceeef;
  --n-text-critical-secondary-hover: #fdcbcf;
  --n-text-critical-secondary-press: #faa7ae;
  --n-text-critical-secondary-disable: #d82a39;
  --n-text-neutral-primary-DEFAULT: #d8d8d8;
  --n-text-neutral-primary-hover: #e5e5e5;
  --n-text-neutral-primary-press: #f3f3f3;
  --n-text-neutral-primary-disable: #737373;
  --n-text-neutral-secondary-DEFAULT: #a6a6a6;
  --n-text-neutral-secondary-hover: #b2b2b2;
  --n-text-neutral-secondary-press: #d8d8d8;
  --n-text-neutral-secondary-disable: #999999;
  --n-text-neutral-quaternary-DEFAULT: #fafafa;
  --n-text-neutral-quaternary-hover: #f3f3f3;
  --n-text-neutral-quaternary-press: #e5e5e5;
  --n-text-neutral-quaternary-disable: #808080;
  --n-text-neutral-tertiary-DEFAULT: #8c8c8c;
  --n-text-neutral-tertiary-hover: #808080;
  --n-text-neutral-tertiary-press: #737373;
  --n-text-neutral-tertiary-disable: #808080;
  --n-text-warning-primary-DEFAULT: #dd8902;
  --n-text-warning-primary-hover: #b86205;
  --n-text-warning-primary-press: #954b0b;
  --n-text-warning-primary-disable: #462002;
  --n-text-warning-secondary-DEFAULT: #fab60e;
  --n-text-warning-secondary-hover: #fab60e;
  --n-text-warning-secondary-press: #ffd420;
  --n-text-warning-secondary-disable: #462002;
  --n-text-purple-primary-DEFAULT: #F0CFFF;
  --n-text-purple-primary-hover: #7A1692;
  --n-text-purple-primary-press: #661877;
  --n-text-purple-primary-disable: #420250;
  --n-text-purple-secondary-DEFAULT: #420250;
  --n-text-purple-secondary-hover: #7A1692;
  --n-text-purple-secondary-press: #BF2AF2;
  --n-text-purple-secondary-disable: #661877;
  --n-text-blue-primary-DEFAULT: #3594c2;
  --n-text-blue-primary-hover: #2577a4;
  --n-text-blue-primary-press: #1f5f85;
  --n-text-blue-primary-disable: #142c3d;
  --n-text-blue-secondary-DEFAULT: #142c3d;
  --n-text-blue-secondary-hover: #1e516e;
  --n-text-blue-secondary-press: #1f5f85;
  --n-text-blue-secondary-disable: #c6e1f1;
  --n-text-disable-bright: #737373;
  --n-text-disable-matt: #999999;
  --n-text-fixed-primary-DEFAULT: #fff;
  --n-text-fixed-primary-hover: #fafafa;
  --n-text-fixed-primary-press: #f3f3f3;
  --n-text-fixed-primary-disable: #b2b2b2;
  --n-text-fixed-secondary-DEFAULT: #a6a6a6;
  --n-text-fixed-secondary-hover: #b2b2b2;
  --n-text-fixed-secondary-press: #d8d8d8;
  --n-text-fixed-secondary-disable: #8c8c8c;
  --n-box-shadow-mini: 0px 0px 3px rgba(220, 220, 220, 0.1);
  --n-box-shadow-small: 0px 0px 10px rgba(220, 220, 220, 0.04);
  --n-box-shadow-medium: 0px 0px 10px rgba(98, 98, 98, 0.2);
  --n-box-shadow-large: 0px 4px 15px 0px rgba(220, 220, 220, 0.2);
  --n-box-shadow-inset: inset 0px -2px 0px 0px rgb(229, 229, 229);
  --n-box-shadow-maxi: rgba(246, 245, 245, 0.07) 0 0 25px, rgba(96, 95, 95, 0.22) 0 0 10px;
  --n-ring-primary-DEFAULT: #252525;
  --n-ring-neutral-primary-DEFAULT: #1e1d1d;
  --n-ring-neutral-secondary-DEFAULT: #404040;
  --n-ring-neutral-tertiary-hover: #1e1d1d;
  --n-ring-brand-primary-hover: #24c371;
  --n-ring-brand-secondary-hover: #167b47;
  --n-text-primary: #d8d8d8;
  --n-bg-primary: #0d0d0d;
  --n-bg-secondary: #191919;
  --n-bg-tertiary: #0d0d0d;
  --n-bg-brand: #18a15a;
  --n-border-primary: #404040;
  --n-border-brand: #18a15a;
}
